*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 100vh;
}

.paginas-container a{
    color: antiquewhite;
    font-size: 22px;
}

.logo-container p{  
    color: antiquewhite;
    font-size: 22px;
}

.carrusel{
    height: 600px
}
.imagenHuerta{
    height: 600px;
    max-height: 600px;
}

.imgLogo{
    width: 90px;
    height: auto;
}

.main{
    padding-top: 100px;
    background-color: lightgray;
}
.talleresimg {
    object-fit: cover;
}

.imgnosotros {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 40%;
  object-fit: cover;
  border-radius: 30px;
  padding: 0%;
  margin: 0%;
  
}

@media screen and (max-width: 800px) {
    .carrusel{
        height: 400px
    }
    .imagenHuerta{
        height: 400px;
        max-height: 400px;
    }
}

footer{
    height: 50px;
}

.header-talleres{
    height: 300px;
}

.main-talleres{
    min-height: calc(100vh - 350px);
}

.nosotros .carousel-item img{
    height: 600px;
}

.nosotros{
    min-height: calc(100vh - 50px);
}

.formulario{
    border: 10px solid black;
    background-color: cornsilk;
    padding: 20px;
}

.formulario ul{
    text-decoration: none;
}

.formulario li{
    font-size: 20px;
    font-weight: 500;
}

.contacto main{
    min-height: calc(100vh - 350px);
}