*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 100vh;
}

.paginas-container a{
    color: antiquewhite;
    font-size: 22px;
    text-decoration: none;
}

.logo-container span{  
    color: antiquewhite;
    font-size: 22px;
}

.carrusel{
    height: 600px
}

.imgLogo{
    width: 90px;
    height: auto;
}
.imagenHuerta{
    height: 400px;
    max-height: 400px;
}

.main{
    padding-top: 100px;
    background-color: lightgray;
}
.talleresimg {
    object-fit: cover;
}

.imgnosotros {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 40%;
  object-fit: cover;
  border-radius: 30px;
  padding: 0%;
  margin: 0%;
  
}
